/*
waitMe - 1.19 [31.10.17]
Author: vadimsva
Github: https://github.com/vadimsva/waitMe
*/

.waitMe_container:not(body) {
    transform: translateZ(0);
    backface-visibility: hidden
}

body.waitMe_container .waitMe {
    position: fixed;
    height: 100vh;
    transform: translateZ(0);
    backface-visibility: hidden
}

body.waitMe_container .waitMe .waitMe_content {
    top: 50%!important;
    transform: none!important
}

.waitMe_container .waitMe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9989;
    text-align: center;
    overflow: hidden;
    cursor: wait
}

.waitMe_container .waitMe * {
    font-family: inherit;
    font-size: inherit;
    font-weight: initial;
    font-style: initial;
    line-height: initial;
    color: initial;
    text-decoration: initial;
    text-transform: initial;
    padding: initial;
    margin: initial
}

.waitMe_container .waitMe .waitMe_content {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    backface-visibility: hidden
}

.waitMe_container .waitMe .waitMe_content.horizontal>.waitMe_progress {
    display: inline-block;
    vertical-align: middle
}

.waitMe_container .waitMe .waitMe_content.horizontal>.waitMe_text {
    display: inline-block;
    margin: 0 0 0 20px;
    vertical-align: middle
}

.waitMe_container .waitMe .waitMe_progress {
    position: relative;
    font-size: 0;
    line-height: 0
}

.waitMe_container .waitMe .waitMe_progress>div {
    animation-fill-mode: both;
    display: inline-block;
    transform: translateZ(0);
    backface-visibility: hidden
}

.waitMe_container .waitMe .waitMe_text {
    position: relative;
    margin: 20px 0 0
}


/* before load animation */

body.waitMe_body {
    overflow: hidden;
    height: 100%;
}

body.waitMe_body.hideMe {
    transition: opacity .2s ease-in-out;
    opacity: 0
}

body.waitMe_body .waitMe_container:not([data-waitme_id]) {
    position: fixed;
    z-index: 9989;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.5); 
}

body.waitMe_body .waitMe_container:not([data-waitme_id])>div {
    animation-fill-mode: both;
    position: absolute
}

body.waitMe_body .waitMe_container.img>div {
    width: 100%;
    height: 100%;
    text-align: center;
    background-position: center!important;
    background-repeat: no-repeat!important
}

@keyframes progress_body {
    0% {
        width: 0
    }
    100% {
        width: 100%
    }
}

@keyframes working_body {
    0% {
        left: -10%
    }
    100% {
        left: 100%
    }
}